{% extends "base.html.twig" %}

{% block body %}
  <h1>Backend</h1>
  <ul>
    <li>
      <a href="/publish" target="_blank">Publish</a>
    </li>
    <li>
      <a href="/api/series" target="_blank">GET /api/series</a>
    </li>
  </ul>
{% endblock %}