@import "../../../styles/variables";

.header {
  background: $colorPrimary;
  margin-bottom: 1.45rem;

  > h1 {
    padding: 1.45rem 1.0875rem;
    padding-bottom: 0;
    margin: 0;
  }

  > div {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;

    > a:not(:last-child) {
      margin-right: 10px;
    }
  }
}
